html {
   display: flex;
   justify-content: center;
}

img {
   padding-top: 100px; 
   padding-bottom: 10px;
}

ul {
   position: relative;
   justify-content: space-around;
   display: flex;
   right: 400px;
   margin: 0px;
   padding: 0px;
    color: black;
   cursor: pointer;
}

#gmail {
   position: relative;
   display: flex;
   left: 780px;
   bottom: 300px;
}



#images {
   position: relative;
   display: flex;
   left: 700px;
   bottom: 300px;
}

    #about:hover {
      text-decoration: underline;
   }
   
   #store:hover {
      text-decoration: underline;
   }

button {
      margin: 5px;
      padding: 1px;
      cursor: pointer;
      background-color: ghostwhite;
      border-radius: 3px;
   }

button:hover {
   box-shadow: 0 0 1px 1px rgb(190, 188, 188);
}

#text {
   width: 300px;
}


#text:hover {
   box-shadow: 0 0 1px 1px rgb(216, 209, 209);
}

.topnav {
   padding: 10px;
   outline: 0;
   
   }

